.row
  .col-xs-12.text-center
    = link_to 'Signin with Google', user_google_omniauth_authorize_path,
      class: 'link-to-signin btn btn-warning'
  .col-xs-12.text-center#map
    = image_tag "ajax-loader.gif"
