@import "shared/color_scheme";

header.jumbotron {
  height: 150px;
  background-image: image-url('logo.png');
  background-position: center center;
  background-size: auto 100%;
  color: $text_color;
  background-color: $background_color;
  display: flex;
  align-items: center;
  justify-content: center;

  .link-to-signout {
    color: $text_color;
    font-size: 200%;
    width: 20%;
  }
}
