// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-to-signin {
  margin-top: 10px;
  font-size: 300%;
}

#map {
  margin: 10px;
}
